
.main-body {
    padding: 2rem;
    background-color: #084790;
}

.item-menu {
    color: #fff !important;
    font-size: 1.5rem;
    padding: 0 1rem !important;
}

.btn-scan {
    background-color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 0;
}

.btn-register {
    border: 1px solid #fff;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    margin-left: 2rem;
    border-radius: 0;
}

.btn-register:hover {
    color: #fff;
}

.register-form-student {
    padding: 3rem;
    background-color: #fff;
    border-radius: 10px;
}

.content-info-student {
    background-color: #fff;
    padding: 3rem 3rem;
    border-radius: 10px;
}

.line-spacing {
    background: #c9c9c9;
    margin-top: 1.5rem;
}

.state-span {
    background-color: #2ddc42;
    color: #fff;
    padding: 0.2rem 0.5rem;
    border-radius: 6px;
}

.fa-plus:before {
    content: "\f067";
    margin-right: 0.3rem;
}

.btn-add-book {
    background-color: #0062cc !important;
    padding: 0.8rem 1.8rem !important;
    border-radius: 0.3rem;
    text-transform: capitalize;
}

.state-book {
    padding: 0.3rem 0.8rem;
    border-radius: 0.4rem;
    text-transform: uppercase;
    font-size: 0.8rem;
}

/* Estados historial de libros */
.state-delivered {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #15572478;
}
.state-borrowed {
    background-color: #fff3cd;
    color: #856404;
    border: 1px solid #85640473;
}
.state-reserved {
    background-color: #cce5ff;
    color: #004085;
    border: 1px solid #0040857d;
}
.state-not-available {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #721c247a;
}

.image-logo {
    height: 100px;
}

.navbar-light .navbar-toggler {
    border-color: transparent;
}

.field-pr {
    padding-right: 1.5rem !important;
}
.field-pl {
    padding-left: 1.5rem !important;
}

.icon-nav-bars {
    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;
}



@media (max-width: 576px) { 

    .content-logo {
        padding-left: 0 !important;
    }

    .image-logo {
        height: 55px;
    }

    .navbar {
        padding: 0 !important;
    }

    .navbar.navbar-light .navbar-toggler-icon {        
        background-color: #ffffff8c;
    }

    .navbar-collapse {        
        margin-top: 1rem;
    }

    button.navbar-toggler:focus {
        outline: none !important;
    }

    .nav-margin-movil {
        margin-right: 0 !important;
    }

    #content-description-recognition {
        text-align: center;
        order: 2;
        margin-bottom: 3rem;
    }

    #content-description-recognition p {
        padding-right: 0 !important;
    }

    #btn-scan-face {
        margin-top: 1.5rem;
        margin-bottom: 2rem;
    }

    #btn-register-student {
        margin-left: 0;
    }

    #content-image-recognition {
        margin-top: 2rem;
        order: 1;
    }

    #image-recognition {
        width: 300px;
        height: auto;
    }


    .field-pr {
        padding-right: 0 !important;
    }
    .field-pl {
        padding-left: 0 !important;
    }

    .register-form-student {
        padding: 3rem 1.5rem;
        margin-top: 1.5rem;
    }

    .content-info-student {
        padding: 3rem 1.5rem;
        margin-top: 1.5rem;
    }
    
}
