<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Historial Préstamos</title>

        {% load static %}

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">

        <link href="{% static 'ReconocimientoFacial/css/bootstrap.min.css' %}" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="{% static 'ReconocimientoFacial/css/mdb.min.css' %}" rel="stylesheet">
        <!-- Your custom styles (optional) -->
        <link href="{% static 'ReconocimientoFacial/css/style.min.css' %}" rel="stylesheet">
        <!-- MDBootstrap Datatables  -->
        <link href="{% static 'ReconocimientoFacial/css/datatables.min.css' %}" rel="stylesheet">
        <link href="{% static 'ReconocimientoFacial/css/main.css' %}" rel="stylesheet">
  
    </head>
    <body>

        <div class="main-body">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-md navbar-light" style="background-color: #084790; box-shadow: none;">
                <a href="{% url 'home' %}" class="navbar-brand content-logo" style="padding-left: 2rem;">
                    <img class="image-logo" src="{% static 'ReconocimientoFacial/img/logo-unimayor.png' %}" height="" alt="Logo unimayor">
                </a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <!-- <span class="navbar-toggler-icon"></span> -->
                    <i class="fas fa-bars icon-nav-bars"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ml-auto" style="margin-right: 6rem;">
                        <a href="{% url 'all_students' %}" class="nav-item nav-link active item-menu">Estudiantes</a>
                        <a href="{% url 'all_books' 0 %}" class="nav-item nav-link item-menu">Libros</a>
                        <a href="{% url 'loan_history' %}" class="nav-item nav-link item-menu">Historial de Préstamos</a>
                        <!--<a href="{% url 'deudas' %}" class="nav-item nav-link item-menu">Deudas</a>-->
                    </div>
                </div>
            </nav>

            <div class="container content-info-student mt-3">
                <div class="row">
                    <h1 class="col-sm-12 col-md-9">Historial de préstamos</h1>
                    <div class="col-sm-12 col-md-3 text-right">
                        <a href="{% url 'lend_books' -1 %}" class="btn btn-primary btn-lg btn-add-book" role="button" aria-pressed="true">Nuevo Préstamo</a>
                    </div>
                </div>

                <hr style="height: 1px; background-color: #bcbdbe66;">

                {% if loanHistorys %}
                    <table id="dtBasicExample" class="table table-responsive table-striped table-bordered table-sm" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="th-sm font-weight-bold">Estudiante</th>
                                <th class="th-sm font-weight-bold">Libro</th>
                                <th class="th-sm font-weight-bold">Estado</th>
                                <th class="th-sm font-weight-bold">Fecha Préstamo</th>
                                <th class="th-sm font-weight-bold">Observación</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for loan in loanHistorys %}
                                <tr>
                                    {% for student in loan.students.all %}
                                        <td class="align-middle">{{ student.name }} {{ student.lastname }}</td>
                                    {% endfor %}
                                    {% for book in loan.books.all %}
                                        <td class="align-middle">{{ book.name }}</td>
                                    {% endfor %}
                                    <td class="align-middle" style="width: 8rem;">
                                        <span class="state-book {% if loan.state == 'Entregado' %}state-delivered{% endif %}{% if loan.state == 'Prestado' %}state-borrowed{% endif %}{% if loan.state == 'Reservado' %}state-reserved{% endif %}{% if loan.state == 'No Disponible' %}state-not-available{% endif %}">{{ loan.state }}</span>
                                    </td>
                                    <td class="align-middle">{{ loan.created }}</td>
                                    <td class="align-middle">{{ loan.observations }}</td>  
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <p>No se encontro ningún registro de préstamos.</p>
                {% endif %}
            </div>

            <!-- Footer -->
            <footer class="footer mt-5">
                <p class="m-0" style="color: #ffffffab;">UNIMAYOR VIRTUAL &copy; 2020 Todos los derechos reservados</p>
            </footer>
        </div>

        <!-- jQuery -->
        <script type="text/javascript" src="{% static 'ReconocimientoFacial/js/jquery.min.js' %}"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="{% static 'ReconocimientoFacial/js/bootstrap.min.js' %}"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="{% static 'ReconocimientoFacial/js/mdb.min.js' %}"></script>
        <!-- MDBootstrap Datatables  -->
        <script type="text/javascript" src="{% static 'ReconocimientoFacial/js/datatables.min.js' %}"></script>
	
	    <script>
		    $(document).ready(function () {
			    $('#dtBasicExample').DataTable();
			    $('.dataTables_length').addClass('bs-select');
		    });
	    </script>
	
    </body>
</html>
